* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

.main {
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #000000b3;
}

/* ---------- Header Section ------------ */
.header {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    gap: 50rem;
}

.header .mysvg {
    height: 40px;
    width: 148px;
}

.header .head2 {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.head2 select {
    height: 32px;
    width: 124px;
    background: none;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    appearance: none;
    font-weight: 550;
    font-size: 1rem;
    padding: 0 10px;
}

.head2 select option {
    color: black;
}

.header .sign-in {
    height: 34px;
    width: 76px;
    background-color: #e80c0c;
    border-radius: 4px;
    border: none;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.header .sign-in a {
    color: #fff;
    text-decoration: none;
}

/* ----------- Hero Section ------------ */
.hero {
    height: 500px;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    padding-left: 28rem;
    padding-right: 28rem;
}

.hero span {
    font-size: 3.5rem;
    font-weight: 900;
    margin-bottom: 20px;
}

.hero .p1,
.hero .p2 {
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
}

.hero .p2 {
    font-size: 0.87rem;
    font-weight: 500;
}

.hero .hero2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hero2 input {
    height: 56px;
    width: 100%;
    width: 27rem;
    background-color: #121111;
    border: 1px solid #999;
    padding-left: 10px;
    border-radius: 4px;
    color: #fff;
}

.hero2 button {
    height: 56px;
    width: 100%;
    max-width: 200px;
    background-color: #fd0b0bda;
    border-radius: 0.3rem;
    color: #fff;
    font-size: 1.4rem;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

/* ----------- Container --------------- */
.container {
    padding: 20px;
    padding-left: 8rem;
    padding-right: 8rem;
}

.container h2 {
    color: #fff;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.container .selects {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.container .s1,
.container .s2 {
    height: 40px;
    width: 100%;
    max-width: 122px;
    background-color: #121111;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    appearance: none;
    padding: 0 10px;
}

.film-section {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: hidden;

}

.film-section .film {
    display: flex;
    gap: 2.5rem;
}

.film-section .image-box {
    width: 200px;
    height: 350px;
    transition: transform 0.3s ease, z-index 0.3s ease;
}

.film-section img {
    height: 240px;
    width: 170px;
    margin-top: 30px;
    border-radius: 8px;
}

.film-section .image-box:hover {
    transform: scale(1.1);
    z-index: 10;
    box-shadow: 0 4px 14px #0000004d;
}

.film-section .image-box .number {
    position: relative;
    color: #000;
    font-size: 100px;
    font-weight: bolder;
    text-shadow: 2px 2px 4px #000000cc;
    -webkit-text-stroke: 2px #ddd;
}

.film-section .image-box .number.one {
    bottom: 120px;
    left: -20px;
}

/* ----------- Reasons Section ------------ */
.reasons {
    padding: 20px;
}

.reasons .boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    justify-content: space-between;
}

.reasons .box1,
.box2,
.box3,
.box4 {
    height: 300px;
    width: 100%;
    background: linear-gradient(135deg, #192145, #1c1931, #1e1425, #20101c);
    border-radius: 14px;
    padding: 20px;
    text-align: center;
}

.reasons .boxes h3 {
    font-size: 24px;
    color: #fff;
    text-align: start;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.reasons .boxes p {
    color: #999;
    text-align: start;
    margin-top: 2rem;
}

.reasons .icon1-3 {
    margin-top: 5rem;
    margin-left: 12rem;
}

.reasons .icon2 {
    margin-top: 4.3rem;
    margin-left: 12rem;
}

.reasons .icon4 {
    margin-top: 2.5rem;
    margin-left: 12rem;
}

/* ----------- FAQ Section ------------ */
.faq {
    padding: 20px;
}

.faq h2 {
    margin-bottom: 20px;
}

.faq button {
    width: 100%;
    height: 84px;
    background-color: #2d2d2d;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.faq button:hover {
    background-color: #414141;
}

.faq button .plus {
    margin-right: 20px;
}

/* ----------- Get Started Section ------------ */
.get-started {
    padding: 20px;
    text-align: center;
}

.get-started .p2 {
    color: #fff;
    margin-bottom: 20px;
}

.get-started .hero2 {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

/* ----------- Footer Section ------------ */
.footer {
    padding: 20px;
    color: #ffffffb3;
    font-size: 1rem;
    font-weight: 500;
}

.footer .lists {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.footer ul {
    list-style-type: none;
    width: 100%;
    max-width: 200px;
}

.footer li {
    margin-bottom: 14px;
}

.footer a {
    color: #ffffffb3;
    text-decoration: underline 1px #ddd;
}

.footer .head2 {
    margin-top: 50px;
    margin-top: 3rem;
}

.footer .head2 p {
    margin-top: 20px;
}

/* ----------- Media Queries ------------ */
@media (min-width:320px) and (max-width: 480px) {
    .container {
        margin: 0;
        padding: 10px;
    }

    .header {
        gap: 0;
        flex-wrap: wrap;
        margin-top: 1rem;
    }

    .hero {
        padding: 10px;
    }

    .hero span {
        margin-bottom: 0;
        font-size: 2.5rem;
    }

    .hero .p1,
    .hero .p2 {
        margin-bottom: 10px;
        font-size: 1rem;
    }

    .hero2 {
        flex-direction: column;
    }

    .hero2 input {
        max-width: 270px;
    }

    .container h2 {
        font-size: 1.5rem;
    }

    .reasons .boxes h3 {
        font-size: 20px;
    }

    .reasons .icon2 {
        margin-top: 3.5rem;
        margin-left: 10rem;
    }

    .reasons .icon1-3 {
        margin-top: 4rem;
        margin-left: 10rem;
    }

    .reasons .icon4 {
        margin-top: 3.5rem;
        margin-left: 10rem;
    }

    .reasons .boxes {
        justify-content: center;
        gap: 20px;
    }

    .reasons .box1,
    .box2,
    .box3,
    .box4 {
        height: auto;
        width: auto;
    }

    .reasons .icon1-3 {
        margin-top: 1.2rem;
        margin-left: 10rem;
    }

    .reasons .icon2 {
        margin-top: 0.5rem;
        margin-left: 10rem;
    }

    .reasons .icon4 {
        margin-top: 0.9rem;
        margin-left: 10rem;
    }

    .faq h2 {
        text-align: center;
        font-size: 1.2rem;
    }

    .faq button {
        text-align: start;
        font-size: 1.2rem;
    }

    .faq button .plus {
        margin-right: 0;
    }

}

@media (min-width: 425px) and (max-width: 767px) {
    .header {
        gap: 0;
    }

    .hero {
        padding: 0;
    }

    .container {
        padding: 20px;
    }

    .hero span {
        font-size: 2rem;
    }

    .hero2 {
        flex-direction: column;
    }

    .hero2 input {
        max-width: 300px;
    }

    .reasons .boxes {
        justify-content: start;
        gap: 20px;
    }

    .reasons .box1,
    .box2,
    .box3,
    .box4 {
        height: auto;
        width: 45rem;
    }

    .reasons .icon1-3 {
        margin-top: 1.2rem;
        margin-left: 15rem;
    }

    .reasons .icon2 {
        margin-top: 0.5rem;
        margin-left: 15rem;
    }

    .reasons .icon4 {
        margin-top: 0.9rem;
        margin-left: 15rem;
    }

    .faq h2 {
        font-size: 1.5rem;
    }

    .faq button {
        font-size: 1.2rem;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .hero {
        padding: 0;
        height: 400px;
    }

    .header {
        gap: 0;
    }

    .container {
        padding: 1rem;
    }

    .reasons .boxes {
        justify-content: center;
        gap: 20px;
    }

    .reasons .box1,
    .box2,
    .box3,
    .box4 {
        height: auto;
        width: 50rem;
    }

    .reasons .icon1-3 {
        margin-top: 1.2rem;
        margin-left: 35rem;
    }

    .reasons .icon2 {
        margin-top: 0.5rem;
        margin-left: 35rem;
    }

    .reasons .icon4 {
        margin-top: 0.9rem;
        margin-left: 35rem;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .hero {
        padding: 5rem;
    }

    .header {
        gap: 25rem;
    }

    .container {
        padding: 5rem;
    }

    .reasons .boxes {
        justify-content: center;
        gap: 20px;
        flex-direction: row;
    }

    .reasons .box1,
    .box2,
    .box3,
    .box4 {
        height: auto;
        width: 400px;
    }

    .reasons .icon1-3 {
        margin-top: 2rem;
        margin-left: 18rem;
    }

    .reasons .icon2 {
        margin-top: 0.5rem;
        margin-left: 18rem;
    }

    .reasons .icon4 {
        margin-top: 0.9rem;
        margin-left: 18rem;
    }

}

@media (min-width: 1440px) and (max-width: 2560px) {
    .hero {
        padding: 20rem;
    }

    .reasons .boxes {
        justify-content: start;
        gap: 1rem;
    }

    .reasons .box1,
    .box2,
    .box3,
    .box4 {
        width: 274px;
    }

    .reasons .icon1-3 {
        margin-top: 3.5rem;
        margin-left: 10rem;
    }

    .reasons .icon2 {
        margin-top: 0.5rem;
        margin-left: 10rem;
    }

    .reasons .icon4 {
        margin-top: 1.2rem;
        margin-left: 10rem;
    }

}